/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
  margin: 20px;
}
h1 {
  text-align: center;
  color: #12195b;
  font-size: 26px;
  font-family: sans-serif;
  text-transform: capitalize;
}
h2 {
  color: #400505;
  font-family: sans-serif;
  font-size: 30px;
}

h3 {
  color: #12195b;
  font-family: sans-serif;
  font-size: 20px;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a:hover {
  text-decoration: underline;
  color: rgb(38, 0, 255);
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

h2 {
  color: #34495e;
  font-size: 2rem;
  color: rgba(47, 105, 143, 0.793);
}

h3 {
  color: #7f8c8d;
  font-size: 1.5rem;
}

/* Paragraphs */
p {
  line-height: 1.6;
  font-family: sans-serif;
  text-transform: capitalize;
}
p:hover {
  color: rgb(9, 59, 67);
}

/* Lists */
ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 1em;
}
li {
  font-family: sans-serif;
  font-size: 20px;
}

li {
  font-size: 1rem;
  margin-bottom: 0.5em;
}

.image-container img {
  max-width: 300px;
  margin: 10px;
}
.image1{
  float: left;
}
