body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 20px;
}
h1 {
  text-align: center;
  color: #12195b;
  font-size: 26px;
  font-family: sans-serif;
  text-transform: capitalize;
}
h2 {
  color: #400505;
  font-family: sans-serif;
  font-size: 30px;
}

h3 {
  color: #12195b;
  font-family: sans-serif;
  font-size: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(38, 0, 255);
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

p {
  line-height: 1.6;
  font-family: sans-serif;
  text-transform: capitalize;
}
p:hover {
  color: rgb(9, 59, 67);
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
li {
  font-family: sans-serif;
  font-size: 20px;
}

/* .image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-container img {
  max-width: 300px;
  margin: 10px;
} */
