body {
  font-family: sans-serif;
  font-size: 20;
  line-height: 1.6;
  margin: 20px;
  text-transform: capitalize;

}

/* The h1 rule doesn't work because:
   1. It's defined later in the file (CSS cascade order).
   2. There might be a more specific rule overriding it.
   3. There could be an inline style in the HTML that takes precedence.
   To fix this, move the h1 rule here and ensure it's specific enough: */

h1, body h1 {
  color: blue !important;
  text-align: center;
  font-size: 26px;
  font-family: sans-serif;
  text-transform:capitalize;
  font-style: italic;

}

h2,
h3 {
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
body {
  font-family: sans-serif;
  margin: 20px;
}

h1 {
  color: blue;
  text-align: center;
  color: #333;
}

p {
  line-height: 1.6;
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;

}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* .image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-container img {
  max-width: 300px;
  margin: 10px;
} */

a {
  color: #007bff; /* Blue color for links */
  text-decoration: none; /* Remove underline from links */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}
li {
  font-family: sans-serif;
  font-size: 20px;


}
