body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 20px;
}

h1,
h2,
h3 {
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
body {
  font-family: sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

p {
  line-height: 1.6;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* .image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-container img {
  max-width: 300px;
  margin: 10px;
} */

a {
  color: #007bff; /* Blue color for links */
  text-decoration: none; /* Remove underline from links */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}
